<div class="parent-container">
  <div class="child-container">
    <br>
    <h2 style="font-size: 40px">Hello, Welcome to <b> Recipe & Location Finder
    </b></h2>
    <br><br>
    <form>
      <div class="form-group">
        <label>Subscribe to our news letter by entering your Mail Below:</label><br><br>
        <div class="form-group col-lg-4 col-lg-offset-4">
          <input type="text" class="form-control" placeholder="name@example.com"/>
        </div>
        <button class="btn btn primary col-lg-2 col-lg-offset-5" style="color: white; background: deepskyblue">Subscribe</button>
      </div>
    </form>
  </div>
</div>
